.App {
  height: 220vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.app-landing-page {
  width: 100%;
  height: 100vh;
  background-image: url('../../images/oceantexture2.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.app-landing-name {
  width: 30%;
  min-width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  margin: 0;
  margin-top: 15px;
}

.triangle-container {
  width: 70%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.app-landing-logo1 {
  height: 200px;
  position: absolute;
  top: 20%;
  left: 10%;
}

.app-landing-logo2 {
  height: 200px;
  position: absolute;
  top: 20%;
  left: 20%;
}

.app-landing-logo3 {
  height: 200px;
  position: absolute;
  top: 20%;
  left: 30%;
}

.app-landing-logo4 {
  height: 200px;
  position: absolute;
  top: 20%;
  left: 40%;
}

.app-landing-logo5 {
  height: 200px;
  position: absolute;
  top: 20%;
  left: 50%;
}

.app-landing-logo6 {
  height: 200px;
  position: absolute;
  top: 20%;
  left: 60%;
}

.app-landing-logo7 {
  height: 200px;
  position: absolute;
  top: 20%;
  left: 70%;
}

.app-landing-title {
  font-size: 3em;
  margin: 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.arrow-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-landing-arrow {
  height: 75px;
  margin: 15px 0;
  cursor: pointer;
}

.app-landing-arrow:hover {
  transform: scale(1.05);
}

.app-landing-arrow:active {
  transform: scale(.95);
}

.app-navigation-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .app-landing-logo1 {
    animation: App-logo-spin1 infinite 20s linear;
    transform-origin: center center;
  }

  .app-landing-logo2 {
    animation: App-logo-spin1 infinite 20s 1s linear;
    transform-origin: center center;
  }

  .app-landing-logo3 {
    animation: App-logo-spin1 infinite 20s 2s linear;
    transform-origin: center center;
  }

  .app-landing-logo4 {
    animation: App-logo-spin1 infinite 20s 3s linear;
    transform-origin: center center;
  }

  .app-landing-logo5 {
    animation: App-logo-spin1 infinite 20s 4s linear;
    transform-origin: center center;
  }

  .app-landing-logo6 {
    animation: App-logo-spin1 infinite 20s 5s linear;
    transform-origin: center center;
  }

  .app-landing-logo7 {
    animation: App-logo-spin1 infinite 20s 6s linear;
    transform-origin: center center;
  }
}

@keyframes App-logo-spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
